# Table of Contents

1. [Initial Setup](#Initial-Setup)
2. [Exploratory Data Analysis (EDA)](#Exploratory-Data-Analysis-(EDA))
    1. [Dataset Exploration](#Dataset-Exploration)

# Initial Setup

In [7]:
#pip install kagglehub

Libraries

In [ ]:
import os #current working directory, changing directories, listing files in directory
import kagglehub #connect to Kaggle’s API and easily download datasets

Checking current working directory

In [6]:
current_directory = os.getcwd()
print("Current working directory:", current_directory)

Current working directory: C:\Users\hussainsarfraz\0_finecrime_online_payment_project

Connecting to Kaggle API to download the dataset and obtain working directory to dataset

In [5]:
# Download latest version
path = kagglehub.dataset_download("mtalaltariq/paysim-data")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/mtalaltariq/paysim-data?dataset_version_number=1...

100%|██████████| 178M/178M [00:11<00:00, 15.8MB/s]

Extracting files...

Path to dataset files: C:\Users\hussainsarfraz\.cache\kagglehub\datasets\mtalaltariq\paysim-data\versions\1

Setting working directory

In [11]:
# Absolute path example (Windows)
os.chdir("C:/Users/hussainsarfraz/.cache/kagglehub/datasets/mtalaltariq/paysim-data/versions/1")
    
print(os.getcwd())

C:\Users\hussainsarfraz\.cache\kagglehub\datasets\mtalaltariq\paysim-data\versions\1

Checking files in current working directory

In [12]:
# Get the list of all files and directories in the current working directory
contents = os.listdir()
print("Contents of the current directory (including files and folders):")
for item in contents:
    print(item)

Contents of the current directory (including files and folders):
paysim dataset.csv

# Exploratory Data Analysis (EDA)

I am using the "paysim" dataset for this project which can be found on kaggle (here is the [link](https://www.kaggle.com/datasets/mtalaltariq/paysim-data) to the dataset). The PaySim dataset is a **synthetic** financial transaction dataset that simulates mobile money operations based on real transactional patterns. It was generated using aggregated and anonymized data from a mobile financial service provider (ex. JazzCash and Easypaisa). 

The dataset is commonly used for fraud detection research and machine learning model training, allowing analysts and data scientists to explore techniques for identifying suspicious or fraudulent activity without using real customer data.

<ins> Difference between a mobile financial system and digital bank </ins>

A mobile financial system (or mobile money service) is not a traditional bank. These services are typically operated by telecommunications providers, not by licensed banks. While they offer bank-like features—such as money transfers, bill payments, and mobile wallet storage—they are not registered financial institutions.

The key distinction lies in access and structure:

* Mobile financial systems are SIM card–based, allowing users to send and receive money using their mobile phone number without needing a formal bank account.
* In contrast, digital banks require users to open an official bank account, identified by an account number, and are regulated under banking laws.

Additionally, mobile money services primarily focus on payments and transfers, whereas banks provide a broader range of services, such as savings accounts, loans, interest-bearing deposits, and official bank statements.

<ins> How are the rules to detect financial fraud formulated? </ins>

There are three main institutions that define the rules to detect financial crime. These institutions are governments, international bodies, and banks/mobile financial systems/ fintechs. 

| Institution | Purpose | 
| :------- | :------: | 
| Governments  | Define the legal requierments (ex. report financial crime)  | 
| International bodies (ICA, CFCS, ACAMS)  | Define the frameworks on how to identify fradulent transactions  | 
| Banks/Fintechs/Mobile banking providers  | Define the actual rules on how to flag certain transactions as fradulent  | 

**Example**: \\$10,000 thereshold rule

* The government defined the \\$10,000 threshold rule in the Bank Secrecy Act (BSA) of 1970, requiring financial institutions to report large transactions. 
* The international bodies then came in to set guidelines that inform other banks, fintechs, and mobile banking providers on how they should use this new law. For example, international bodies say how financial institutions should have systems in place to detect unusual activity over \\$10,000. 
* The banks/fintechs/mobile banking providers would then establish internal systems to automatically detect and flag any transaction that is over \\$10,000.

## Dataset Exploration

task: do the EDA for the Fincrime Online Payment Fraud Detection (column description, and trying to figure out what columns mark a transaction fradulet)

articulate in plain English the rules that constitute to fraudulent transaction along with necessary thresholds

Number of Rows and Columns

In [32]:
print('Number of rows:', df.shape[0], 
     '\nNumber of columns:', df.shape[1]) #approximatly 6 million rows

Number of rows: 6362620
Number of columns: 11

`summary()` function

Description of Columns

In [13]:
import pandas as pd

data = pd.read_csv('paysim dataset.csv')

In [16]:
df = pd.DataFrame(data)

In [22]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [24]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

(6362620, 11)

---
Installing necessary packages